<html>
    <head>
        <title>RSS Feed</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Query RSS Feed </h1>
            </div>
            <div id="content">
                <form method="post" action="/" ajaxform>
                  <label for="input1">Please enter up to 5 guid(s) or credit(s), please enter all the same type:</label>
                  <input type="text" size="50" name="input1"/><br />
                  <input type="text" size="50" name="input2"/><br />
                  <input type="text" size="50" name="input3"/><br />
                  <input type="text" size="50" name="input4"/><br />
                  <input type="text" size="50" name="input5"/><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
        <div id="container">
            <div class="title">
                <h1>Results with feed query</h1>
            </div>
            <div id="content">
                Results:
                {% for data in return_data %}
                <p>{{ data }}</p>
                {% endfor %}
                {% if error %}
                <p>{{error}}</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>
 